
*{
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 0;
}

.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.grid div{
    background-color: #2196f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one{
    order: 8;
}

.two{
    order: 2;
    grid-column: 1 / span 2;
}

.three{
    order: 3;
}

.four{
    order: 4;
}

.five{
    order: 5;
    grid-row: 3 / span 3;
    grid-column: 2 / span 2;
}

.six{
    order: 6;
}

.seven{
    order: 7;
}

.eight{
    order: 1;
    grid-column: 1 / span 3;
}