div{
    width: 400px;
    height: 400px;
    background-image: url("../assets/css-assignment-5-8.png");
    padding: 20px;
    margin: 10px auto ;
    color: gray;
}

.assign-2-shape-1{
    background-repeat: no-repeat;
}

.assign-2-shape-2{
    background-repeat: repeat-y;
    background-position: right;
}

.assign-2-shape-3{
    background-repeat: repeat-x;
    background-position: bottom;
}

.assign-2-shape-4{
    background-repeat: repeat;
}