
*{
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}

.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 15px 1fr 1fr 15px;
    grid-template-rows: 1fr 15px;
    gap: 10px;
}

.grid div{
    background-color: #403f3f;
    display: flex;
    justify-content: center;
    align-items: center;
}

