*{
    font-family: sans-serif;
    font-size: larger;
}
p{
    width: 100%;
    text-align: center;
}
.one{
    text-transform: uppercase;
}

.two{
    text-transform: capitalize;
}

.three{
    text-transform: lowercase;
}