div {
    margin: 20px auto;
    width: 300px;
    font-weight: bold;
    font-size: 1rem;
    padding: 20px;
    color: black;
  }

.normal{
    background-color: #CCC; /* Get The Background From Image */
}

.one{
    background-color: rgba(204,204,204,10%); /* Get The Background From Image */
}

.two{
    background-color: #CCC; /* Get The Background From Image */
    opacity: 10%;
}