
*{
    box-sizing: border-box;
}

.parent{
    width: 600px;
    height: 300px;
    margin: 50px auto;
    background-color: #EEE;
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.parent div{
    background-color:#009688;
    width: 5%;
    height: 30%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent .two{
    align-self: flex-start;
    width: 60%;
}