
*{
    box-sizing: border-box;
}

.parent{
    width: 600px;
    margin: 50px auto;
}

div input{
    width: 100%;
    margin: 10px 0;
    border: none;
    background-color: #EEE;
    padding: 10px;
}

.parent div{
    position: relative;
}

.parent div::before{
    content:"";
    position: absolute;
    bottom: 7px;
    left: 0;
    height: 3px;
    width: 100%;
    background-image: linear-gradient(to right,#009688 50%, #f44336 50%)  ;
}