div{
    background-color: #EEE !important;
    border: none !important;
    color: black !important;
    font-size: 20px !important;
    width: 400px;
    margin: auto;
    text-align: center;
    text-indent: -900px;
    position: relative;
}

div::after{
    content: "Elzero";
    position: absolute;
    top: 18px;
    right: -225px;
}